<h1>
    Présentation APi météo
</h1>

<h3>
    Qu'est-ce une API ?
</h3>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum cupiditate placeat ipsa eius quibusdam alias voluptates ad quis, laudantium optio aliquid fugiat recusandae veniam vero necessitatibus doloribus porro tempore.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repudiandae molestiae, qui, enim voluptates blanditiis suscipit itaque numquam accusamus molestias facere nihil ipsa. Praesentium obcaecati facere dicta ab necessitatibus? Dolore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente numquam molestiae reprehenderit enim sit illo laboriosam voluptatibus nam commodi earum nisi, nulla odio suscipit libero temporibus ut minus tempora? Tempora.
</p>
<br>
<h3>
    Notre API
</h3>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum cupiditate placeat ipsa eius quibusdam alias voluptates ad quis, laudantium optio aliquid fugiat recusandae veniam vero necessitatibus doloribus porro tempore.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repudiandae molestiae, qui, enim voluptates blanditiis suscipit itaque numquam accusamus molestias facere nihil ipsa. Praesentium obcaecati facere dicta ab necessitatibus? Dolore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente numquam molestiae reprehenderit enim sit illo laboriosam voluptatibus nam commodi earum nisi, nulla odio suscipit libero temporibus ut minus tempora? Tempora.
</p>
<br>
<h3>
    Lien vers l'API
</h3>
